.container {
    width: 480px;
    margin: 40px auto;
}

h1 {
    border-bottom: 1px solid;
    font-size: 18px;
    margin: 16px 0;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    line-height: 1.6;
    margin-bottom: 8px;
}

input,
textarea {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 160px;
}

button {
    padding: 4px 8px;
    font-size: 14px;
}
